@charset "UTF-8";
.mui-content{
    background: #fff !important;
}


.headPic{
    .mui-media-object{
        
    }
    img{
        max-width: 60px !important;
        height: 60px !important;
        border-radius: 50%;
    }
    p{
        white-space: normal !important;
//      height: 50px !important;
        textarea{
            min-height: 60px;
            padding: 0 !important;
            margin: 0 !important;
            border: none;
        }
    }
}
.pictures{
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    a{
        font-size: 40px !important;
        padding: 0 7px;
    }
    .camera{
        position: relative;
        input{
            width: 58px !important;
            height: 58px !important;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    img{
        width: 60px;
        height: 60px;
        margin: 0 5px;
    }
}
.starP{
    display: flex !important;
    align-items: center;
    .text-p{
    }
    .star-p{
        button{
            font-size: 22px;
            padding: 0 6px;
            border: none;
        }
        
    }
}
