@charset "UTF-8";
body{
    background: #fff !important;
}
.mui-input-row{
   height: 50px !important;
   padding-top: 5px;
   font-size: 14px;
   input{
       font-size: 14px;
   }
}
.mui-icon-clear{
    top: 17px !important;
}

.mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{
    top:9px !important;
}
.mui-input-row:after{
    left: 0 !important;
    
}
.mui-input-group:after{
    height: 0 !important;
}
.mui-button-row{
    margin-top: 15px;
}
.mui-btn-block{
    padding: 5px 0 !important;
}
label{
    img{
        width: 21px;
        height: 21px;
    }
}
.operate{
    padding: 0 15px;
    margin-top: 15px;
    p{
        em{
            display:inline-block;
            width: 14px;
            height: 14px;
            border-radius: 3px;
            border: 1px solid #ccc;
            margin-right:5px;
        }
    }
}
.zhuce{
    background: #fff;
    padding-top: 20px;
}
