h2 { font-size: 16px !important; font-style: normal; color: #fff; background: #4ba60f; margin: 0 !important; padding: 10px 15px; }
h2 button { background: transparent !important; color: #fff !important; border: 1px solid #fff !important; }

.place { width: 100%; }
.place dl { margin: 0 0 10px; background: #fff; }
.place dl dt { padding: 10px 15px; box-sizing: border-box; border-bottom: 1px solid #eee; }
.place dl dt h4 { margin-bottom: 15px; }
.place dl dt h4 p { font-size: 15px; }
.place dl dd { margin: 0; padding: 10px 15px; }
.place dl dd > div { font-size: 14px; color: #666; }
.place dl dd > div em { display: inline-block; width: 21px; height: 21px; border: 1px solid #ccc; border-radius: 50%; margin-right: 10px; }
.place dl dd > div .active { background: url(../img/chose1.png) no-repeat center center; background-size: 21px 21px; border: none; }
.place dl dd > div p { margin: 0 10px; }
.place dl dd > div p i { display: inline-block; width: 20px; height: 20px; margin-right: 5px; }
.place dl dd > div p i img { width: 100%; height: 100%; }

.mui-input-row { height: 50px !important; padding-top: 5px; font-size: 14px; }
.mui-input-row input { font-size: 14px; }

.mui-icon-clear { top: 17px !important; }

.check { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.check i { font-style: normal; display: inline-block; width: 70px; height: 32px; line-height: 32px; text-align: center; background: #4cd964; position: absolute; right: 15px; top: 50%; color: #fff; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.check .mui-icon-clear { right: 90px !important; }

.mui-checkbox input[type=checkbox], .mui-radio input[type=radio] { top: 9px !important; }

.mui-input-row:after { left: 0 !important; }

.mui-input-group:after { height: 0 !important; }

.mui-button-row { margin-top: 15px; }
