@charset "UTF-8";
.touxiang{
    margin-bottom: 10px !important;
    img{
        max-width: 60px !important;
        height: 60px !important;
        border-radius: 50%;
    }
    .name{
        margin-top: 5px;
        color: #666;
        i{
            margin-bottom: 5px;
            font-size: 15px !important;
            color: #333;
            
        }
    }
}
.f-list{
    margin-bottom: 10px !important;
    li{
    }
    i{
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    span{
        font-size: 14px !important;
    }
}
.f-list2{
    li{
        padding: 15px 15px;
        i{
            display: inline-block;
            width: 21px;
            height: 21px;
            margin-right: 10px;
            img{
                width:100%;
                height:100%;
            }
        }
    }
}
