.mui-table-view .mui-media-object { border-radius: 50%; }

.mui-table-view-cell:after { height: 0 !important; }

.mui-table-view { background: #f1f1f1 !important; }

.list { width: 100%; }
.list .a { margin: 5px -15px !important; }
.list li { margin-bottom: 10px; background: #fff !important; }
.list .mui-media-body p { font-size: 14px; }
.list .mui-media-body p .date { font-size: 12px; }
.list .mui-media-body p button { padding: 0; font-size: 16px; border: none; }
