@charset "UTF-8";
.mui-content{
    padding-bottom: 50px;
}
.mui-content>.mui-table-view:first-child{
    margin-top: 0;
}
.mui-scroll-wrapper{
//  top: 44px;
}
.good{
    background: #fff;
    .dianpu{
        padding: 10px 15px;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        display: flex;
        align-items: center;
        i{
            display: inline-block;
            width: 25px;
            height:25px;
            margin-right: 10px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        
    }
    .num{
        border: none;
        button{
            box-shadow: none;
            background: #fff !important;
        }
        .mui-numbox-input{
            border: none !important;
            color: #333;
        }
    }
    .pn{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 5px 15px;
        .price{
            color: #4BA60F;
        }
        p{
            margin-left: 20px;
        }
    }
    >p{
        border-bottom: 1px solid #eee;
        i{
            margin-left: 10px;
        }
    }
}
.list{
    
    .mui-table-view-cell{
        display: flex !important;
        align-items: center !important;
    }
    .circle{
        width: 21px !important;
        height: 21px !important;
        margin-right: 15px;
        padding: 0;
        border-radius: 50%;
    }
    .active{
        background: url(../img/chose-1.png) no-repeat center center;
        background-size: 21px 21px;
        border: none;
    }
    a{
        flex: 1;
    }
    .mui-media-object{
        max-width: 76px !important;
        height: 76px !important;
    }
    .mui-media-body{
        i{
            color: #4ba60f;
            margin-right: 30px;
            font-style: normal !important;
        }
        
    }
    p{
        white-space: normal;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    .text{
        
    }
}

.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    background: #fff;
    p{
        margin-left: 15px;
        .total{
            margin-left: 10px;
            color: #4BA60F;
        }
        i{
            display: inline-block;
            width: 21px;
            height: 21px;
            border: 1px solid #ccc;
            border-radius: 50%;
            margin-right: 5px;
        }
        .active{
            background: url(../img/chose-1.png) no-repeat center center;
            background-size: 21px 21px;
            border: none;
        }
    }
    button{
        width: 120px;
        height: 50px;
        background: #4BA60F;
        color: #fff;
        border: none;
        border-radius: 0;
    }
}
